// @import "ant-design-vue/dist/antd.dark.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  height: 100%;
}

.ant-layout-content {
  height: 0;
  overflow-y: auto;
}
.ant-pro-basicLayout-content, .ant-pro-basicLayout-content .ant-pro-page-container {
  margin: 0;
}
.ant-pro-grid-content-children {
  padding-bottom: 24px;
}

.ant-pro-page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ant-pro-grid-content {
  flex: 1;
  // overflow-y: auto;
  min-height: 0;
}


.ant-pro-global-header-layout-mix {
  background-color: #1f2e54;
}

.ant-pro-multi-tab-wrapper {
  .ant-tabs-tab {
    align-items: baseline;
    .ant-tabs-tab-remove {
      padding-left: 4px;
      padding-right: 4px;
      &:hover{
        border-radius: 3px;
        background-color: #ddd;

      }
    }
    &.ant-tabs-tab-active {
      background-color: #f0f2f5!important;
      font-weight: bold;
    }
  }
}


